* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  position: relative;
}

#canvas--popup {
  display: none;
  position: fixed;
  top: 20px;
  left: 20px;
  padding: 100px;
}

#root {
  padding-top: 5px;
  text-align: center;
  background: #eeeeee;

  .article {
    padding: 10px;

    background: #fff;
    width: 146px;
    display: inline-block;
    text-align: center;
    padding: 8px 0 10px 0;
    margin: 0 6px 6px 0;
    height: 200px;
    vertical-align: top;

    color: #373737;
    font-family: "Roboto", sans-serif;
  }
}
#headline {
  background-color: #7c9937;
  font-family: "Roboto", sans-serif;
  padding: 10px;
  color: white;
}
a {
  text-decoration: none;
  color: #000;
}
a:hover {
  color: #8ca8ac;
}
