* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  position: relative;
}

#canvas--popup {
  display: none;
  position: fixed;
  top: 20px;
  left: 20px;
  padding: 100px;
}

#root {
  .article {
    padding: 10px;
    color: #373737;
    font-family: "Roboto", sans-serif;
  }
}
#headline {
  background-color: #7c9937;
  font-family: "Roboto", sans-serif;
  padding: 10px;
  color: white;
}
a {
  text-decoration: none;
  color: #000;
}
a:hover {
  color: #8ca8ac;
}
